<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= name %> - Resume</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="p-5">
    <div class="resume-container">
        <header>
            <div class="w-full flex flex-col items-center ">
                <h1 class="text-2xl font-semibold py-1"><%= name %></h1>
                <p class="text-base font-semibold py-1"><%= title %></p>
            </div>
            <div class=" w-full py-1 flex justify-center">
                <span class="px-2 mb-3 mr-1 border-r-2"><%= phone %></span>
                <span class="px-2 mb-3 mr-1 border-r-2"><%= email %></span>
                <span class="px-2 mb-3 mr-1 border-r-2"><a href="<%= github %>">GitHub</a></span>
                <span class="px-2 mb-3 mr-1 border-r-2"><%= location %></span>
                <span class="px-2 mb-3 mr-1 border-r-2"><a href="<%= linkedin %>">LinkedIn</a></span>
                <span class="px-2 mb-3 mr-1 cursor-pointer"><a href="<%= leetcode %>">Leetcode</a></span>
            </div>
        </header>
        <section class="summary py-2">
            <h3 class="text-base font-medium border-b-2">SUMMARY</h3>
            <p class="pl-3 py-2"><%= summary %></p>
        </section>
        <section class="experience py-4">
      
            <h2 class="text-base font-medium border-b-2 mb-3">EXPERIENCE</h2>
            <% experience.forEach(function(exp) { %>
                <div class="flex items-center w-full justify-between pb-1">
                    <div>
                        <h3 class="text-lg font-semibold"><%= exp.company %></h3>
                        <p><%= exp.position %></p>
                    </div>
                    <div>
                        <p><%= exp.duration %></p>
                        <% if (exp.badgeLink) { %>
                            <a href="<%= exp.badgeLink %>">Badge Link</a>
                        <% } %>
                    </div>
                </div>
                <p class="pl-2"><%= exp.description %></p>
            <% }); %>
        </section>
        <section class="education">
            <h2 class="text-base font-medium border-b-2 mb-3">EDUCATION</h2>
            <div class="flex items-center w-full justify-between pb-1">
                <div>
                    <h3 class="text-lg font-semibold"><%= education.degree %></h3>
                    <p><%= education.institution %></p>
                </div>
                <div>
                    <p><%= education.duration %></p>
                </div>
            </div>
        </section>
        <section class="internships py-4">
            <h2 class="text-base font-medium border-b-2 mb-3">INTERNSHIP</h2>
            <% internships.forEach(function(internship) { %>
                <div class="flex items-center w-full justify-between pb-1">
                    <div>
                        <h3 class="text-lg font-semibold"><%= internship.name %></h3>
                        <p><%= internship.position %></p>
                    </div>
                    <div>
                        <p><%= internship.duration %></p>
                    </div>
                </div>
                <p class="pl-2"><%= internship.description %></p>
            <% }); %>
        </section>
        <section class="projects">
            <h2 class="text-base font-medium border-b-2 mb-3">PROJECTS</h2>
            <% projects.forEach(function(project) { %>
                <div class="mb-3">
                    <% if (project.name) { %>
                        <h3 class="text-lg font-semibold"><%= project.name %></h3>
                    <% } %>
                    <p><%= project.technology %></p>
                    <p class="pl-2"><%= project.description %></p>
                </div>
            <% }); %>
        </section>
        <section class="skills mt-2">
            <h3 class="text-base font-medium border-b-2 mb-2">OTHER</h3>
            <div class="skills-container flex flex-col justify-evenly">
                <div>
                    <li class="text-base font-medium">Soft Skills: 
                        <span class="font-normal"><%= skills.soft.join(", ") %></span>
                    </li>
                    <li class="text-base font-medium">Hard Skills: 
                        <span class="font-normal"><%= skills.hard.join(", ") %></span>
                    </li>
                    <li class="text-base font-medium">Technical Skills: 
                        <span class="font-normal"><%= skills.technology.join(", ") %></span>
                    </li>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
